@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat&family=Roboto+Mono&family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: var(--color-white);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  margin: 2rem;
  padding: 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.heading {
  color: var(--color-navyBlue);
  border-bottom: 2px solid var(--color-grey);
}
.heading-main {
  /* padding-left: 45%; */
  border-bottom: 2px solid var(--color-grey);
  margin-bottom: var(--size-6);
}
.leftNav {
  margin: 2rem;
  gap: 1rem;
}
.code-snippet {
  border: 2px solid var(--color-grey);
  padding: 1rem;
  min-width: 32rem;
  color: var(--color-royalBlue);
  overflow: scroll;
}

/* LANDING-PAGE */

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width-100);
  min-height: var(--size-19);
  background-color: var(--color-navyBlue);
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-9);
  padding-left: var(--size-7);
  z-index: 10;
}
.fa-place-of-worship {
  color: var(--color-white);
}
.fa-lg {
  font-size: var(--size-10);
}
.list_item {
  list-style-type: none;
}
.list_item--link {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--size-6);
  flex: 1;
}
.list {
  display: flex;
  gap: var(--size-10);
}
.list_end {
  margin-left: var(--width-60);
  display: flex;
  gap: var(--size-3);
}
.title_space {
  color: var(--color-royalBlue);
}

.sub_container-right--image {
  width: 300px;
  height: 300px;
}
.installation_guide {
  margin-bottom: var(--size-10);
}

.container,
.installation_guide {
  margin-top: var(--size-19);
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width-100);
  height: var(--size-20);
  background-color: var(--color-navyBlue);
  gap: var(--size-2);
}
.footer-h3 {
  color: var(--color-white);
}

/* HOVER */

.list_item--link:hover {
  color: var(--color-blueGrotto);
  font-weight: 400;
}
.btn_docs:hover {
  background-color: var(--button-color-blue);
}
:root {
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-13: 3.25rem;
  --size-14: 3.5rem;
  --size-15: 3.75rem;
  --size-16: 4rem;
  --size-17: 4.25rem;
  --size-18: 4.5rem;
  --size-19: 4.75rem;
  --size-20: 5rem;
  --width-100: 100%;
  --width-60: 60%;
  --width-70: 70%;
  --width-80: 80%;
  --bold-100: 100;
  --bold-200: 200;
  --bold-300: 300;
  --screen-size-sm: 40rem;
  --screen-size-md: 48rem;
  --screen-size-lg: 64rem;
  --screen-size-xl: 80rem;
  --color-navyBlue: #1e3d58;
  --color-royalBlue: #057dcd;
  --color-blueGrotto: #43b0f1;
  --color-white: #e8eef1;
  --color-grey: #bababa;
  --color-green: #6aa84f;
  --color-red: #f44336;
  --color-yellow: #ffd966;
  --avatar-small: 1.875rem;
  --avatar-medium: 3.125rem;
  --avatar-large: 5rem;
  --avatar-basic: 4.375rem;
  --simple-alert: #ebebeb;
  --success-alert: #a8f0c6;
  --danger-alert: #f7a7a3;
  --warning-alert: #ffd48a;
  --box-shadow-for-alert: #ccc;
  --badge-color-white: #ffffff;
  --line-ht-sm: 1;
  --line-ht-md: 1.3;
  --line-ht-lg: 2;
  --badge-sm: 1rem;
  --badge-md: 1.3rem;
  --badge-lg: 1.9rem;
  --border-radius-50: 50%;
  --badge-loc: -5px;
  --button-color-danger: #fc4f4f;
  --button-color-blue: #2666cf;
  --button-color-success: #146356;
  --button-color-default: #1e3d58;
  --button-color-secondary: #bf9270;
  --text-bold: 600;
  --card-shadow: rgba(255, 255, 255, 0);
}
