<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link rel="stylesheet" href="./card.css" />
  </head>
  <body>
    <main class="container">
      <div class="leftNav">
        <div class="content-header">
          <h2 class="heading-main">Card</h2>
        </div>
        <div class="content-description">
          <p>
            Cards are used on websites to usually show a bunch of information about
            in a comapact area.Mostly we see cards used on ecommerce websites or Hotel 
            booking sites and many more.
          </p>
        </div>
      </div>

      <div class="content">
        <h2 class="heading">Card with Badge</h2>
        <div class="card">
          <div class="card-badge badge-item badge-md badge-loc-top-left badge-color">8% OFF</div>
          <div class="card-image">
              <img src="../../assets/fairmont-jaipur.jpg" alt="hotel-image">
          </div>
          <div class="card-title">
              <p class="card-tile-heading">Fairmont Jaipur</p>
              <p>&#8377;24000/- <small>1 night 2 adults</small></p>
          </div>
          <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, est! Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
          <div class="card-footer">
              <button class="btn btn-size-sm btn-color-df">Book Now!</button>
             
          </div>
        </div>

        <pre class="code-snippet">
            &lt;div class="card"&gt;
             &lt;div class="card-badge badge-item badge-md badge-loc-top-left badge-color">8% OFF&lt;/div&gt;
              &lt;div class="card-image"&gt;
                &lt;img src="../../assets/fairmont-jaipur.jpg" alt="hotel-image"&gt;
                &lt;/div&gt;
                &lt;div class="card-title"&gt;
                 &lt;p class="card-tile-heading">Fairmont Jaipur&lt;/p&gt;
                 &lt;p&gt;&#8377;24000/- &lt;small&gt;1 night 2 adults&lt;/small&gt;&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, est! Lorem ipsum dolor sit amet consectetur adipisicing elit. &lt;/div&gt;
                &lt;div class="card-footer"&gt;
                  &lt;button class="btn btn-size-sm btn-color-df"&gt;Book Now!&lt;/button&gt;
                &lt;/div&gt;
        </pre>

        <hr />

        <div class="content">
            <h2 class="heading">Card with Dismiss</h2>
            <div class="card">
              <div class="card-badge badge-item badge-md badge-loc-top-right dismiss-color">X</div>
              <div class="card-image">
                  <img src="../../assets/fairmont-jaipur.jpg" alt="hotel-image">
              </div>
              <div class="card-title">
                  <p class="card-tile-heading">Fairmont Jaipur</p>
                  <p>&#8377;24000/- <small>1 night 2 adults</small></p>
              </div>
              <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, est! Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
              <div class="card-footer">
                  <button class="btn btn-size-sm btn-color-df">Book Now!</button> 
              </div>
            </div>

       
        <pre class="code-snippet">
            &lt;div class="card"&gt;
             &lt;div class="card-badge badge-item badge-md badge-loc-top-left badge-color">X&lt;/div&gt;
              &lt;div class="card-image"&gt;
                &lt;img src="../../assets/fairmont-jaipur.jpg" alt="hotel-image"&gt;
                &lt;/div&gt;
                &lt;div class="card-title"&gt;
                 &lt;p class="card-tile-heading">Fairmont Jaipur&lt;/p&gt;
                 &lt;p&gt;&#8377;24000/- &lt;small&gt;1 night 2 adults&lt;/small&gt;&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, est! Lorem ipsum dolor sit amet consectetur adipisicing elit. &lt;/div&gt;
                &lt;div class="card-footer"&gt;
                  &lt;button class="btn btn-size-sm btn-color-df"&gt;Book Now!&lt;/button&gt;
                &lt;/div&gt;
        </pre>

        <hr />

        <div class="content">
            <h2 class="heading">Card with Text Overlay</h2>
            <div class="card">
              <div class="card-image">
                  <img src="../../assets/fairmont-jaipur.jpg" alt="hotel-image">
                  <div class="card-title overlay">
                    <p class="card-tile-heading">Fairmont Jaipur</p>
                    <p>&#8377;24000/- <small>1 night 2 adults</small></p>
                </div>
              </div>
              <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, est! Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
              <div class="card-footer">
                  <button class="btn btn-size-sm btn-color-df">Book Now!</button> 
              </div>
            </div>

            <pre class="code-snippet">
                &lt;div class="card"&gt;
                  &lt;div class="card-image"&gt;
                    &lt;img src="../../assets/fairmont-jaipur.jpg" alt="hotel-image"&gt;
                    &lt;div class="card-title overlay"&gt;
                     &lt;p class="card-tile-heading">Fairmont Jaipur&lt;/p&gt;
                     &lt;p&gt;&#8377;24000/- &lt;small&gt;1 night 2 adults&lt;/small&gt;&lt;/p&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                    &lt;div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, est! Lorem ipsum dolor sit amet consectetur adipisicing elit. &lt;/div&gt;
                    &lt;div class="card-footer"&gt;
                      &lt;button class="btn btn-size-sm btn-color-df"&gt;Book Now!&lt;/button&gt;
                    &lt;/div&gt;
            </pre>


            
        <hr />

        <div class="content">
            <h2 class="heading">Text Only Card</h2>
            <div class="card">
              <div class="card-title only-text" >Card With Only Text</div>
              <div class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad numquam voluptatum nihil sapiente natus rem aliquid voluptas omnis ratione accusantium cumque quibusdam inventore distinctio debitis animi porro, qui possimus exercitationem sint ipsum voluptatem, similique ipsa fuga. Aut nesciunt neque, distinctio sapiente a minus 
            </div>
        </div>

        <pre class="code-snippet">
            &lt;div class="card"&gt;
              &lt;div class="card-title only-text" &gt;Card With Only Text&lt;/div&gt;
              &lt;div class="card-description"&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad numquam voluptatum nihil sapiente natus rem aliquid voluptas omnis ratione accusantium cumque quibusdam inventore distinctio debitis animi porro, qui possimus exercitationem sint ipsum voluptatem, similique ipsa fuga. Aut nesciunt neque, distinctio sapiente a minus 
            &lt;/div&gt;
        </pre>
        
    </main>
    <script
      src="https://kit.fontawesome.com/daef01c36c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
