<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="./button.css" />
  </head>
  <body>
    <main class="container">
      <div class="leftNav">
        <div class="content-header">
          <h2 class="heading-main">Button</h2>
        </div>
        <div class="content-description">
          <p>
            Buttons can be used to change the state of an application. This
            means that clicking on a button should add, change, or delete any
            data on the screen or to trigger any event.
          </p>
        </div>
      </div>

      <div class="content">
        <h2 class="heading">Different button sizes</h2>

        <p>
          Add <span>.btn</span> in class name to make the element a button. We
          have added different sizes to make the button depending on the
          view-port.
        </p>

        <div class="button-container">
          <a class="hyper-link" href="#">
            <button class="btn btn-size-df btn-color-df">Button</button>
          </a>
          <a class="hyper-link" href="#">
            <button class="btn btn-size-sm btn-color-df">Button</button>
          </a>
          <a class="hyper-link" href="#">
            <button class="btn btn-size-md btn-color-df">Button</button>
          </a>
          <a class="hyper-link" href="#">
            <button class="btn btn-size-lg btn-color-df">Button</button>
          </a>
        </div>

        <pre class="code-snippet">
          &lt;a class="hyper-link" href="#"&gt;
           &lt;button class="btn btn-size-df btn-color-df">Button&lt;/button&gt;
          &lt;/a&gt;
          &lt;a class="hyper-link" href="#"&gt;
           &lt;button class="btn btn-size-sm btn-color-df"&gt;Button&lt;/button&gt;
          &lt;/a&gt;
          &lt;a class="hyper-link" href="#"&gt;
           &lt;button class="btn btn-size-md btn-color-df"&gt;Button&lt;/button&gt;
          &lt;/a&gt;
          &lt;a class="hyper-link" href="#"&gt;
           &lt;button class="btn btn-size-lg btn-color-df"&lt;Button&lt;/button&gt;
          &lt;/a&gt;
        </pre>

        <hr />

        <h2 class="heading">Different Usage of buttons</h2>

        <div class="button-container">
          <a class="hyper-link" href="#">
            <button class="btn btn-size-sm btn-color-df">Default</button>
          </a>
          <a class="hyper-link" href="#">
            <button class="btn btn-size-sm btn-color-danger">Danger</button>
          </a>
          <a class="hyper-link" href="#">
            <button class="btn btn-size-sm btn-color-secondary">
              Secondary
            </button>
          </a>
          <a class="hyper-link" href="#">
            <button class="btn btn-size-sm btn-color-success">Success</button>
          </a>
        </div>

        <pre class="code-snippet">
          &lt;a class="hyper-link" href="#"&gt;
           &lt;button class="btn btn-size-sm btn-color-df">Button&lt;/button&gt;
          &lt;/a&gt;
          &lt;a class="hyper-link" href="#"&gt;
           &lt;button class="btn btn-size-sm btn-color-danger"&gt;Button&lt;/button&gt;
          &lt;/a&gt;
          &lt;a class="hyper-link" href="#"&gt;
           &lt;button class="btn btn-size-sm btn-color-secondary"&gt;Button&lt;/button&gt;
          &lt;/a&gt;
          &lt;a class="hyper-link" href="#"&gt;
           &lt;button class="btn btn-size-sm btn-color-success"&lt;Button&lt;/button&gt;
          &lt;/a&gt;
        </pre>
    </main>
  </body>
</html>
