@import url("../../Stylesheet/variable.css");

.avatar {
  height: var(--avatar-basic);
  width: var(--avatar-basic);
  border-radius: 50%;
}

.avatar-sm {
  height: var(--avatar-small);
  width: var(--avatar-small);
  border-radius: 50%;
}

.avatar-md {
  height: var(--avatar-medium);
  width: var(--avatar-medium);
  border-radius: 50%;
}

.avatar-lg {
  height: var(--avatar-large);
  width: var(--avatar-large);
  border-radius: 50%;
}
