<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Images</title>
    <link rel="stylesheet" href="./image.css" />
  </head>
  <body>
    <main class="container">
      <div class="leftNav">
        <div class="content-header">
          <h2 class="heading-main">Images</h2>
        </div>
        <div class="content-description">
          <p>
            Visual information can be processed 60,000 times faster than text and is 
            easier to remember and that is why a responsive and appealing image will give your webiste
            an extra edge.
          </p>
        </div>
      </div>

      <div class="content">
        <h2 class="heading">Rounded Image</h2>

        <p>
          size (176 X 176) px
        </p>

        <div class="image-container">
                <img class="round-image" src="../../assets/my-img.jpg" alt="rounded image">
                <img class="round-image" src="../../assets/pexels-luis-del-río-15286.jpg" alt="rounded image">
                <img class="round-image" src="../../assets/pexels-roberto-nickson-2775196.jpg" alt="rounded image">
        </div>

        <pre class="code-snippet">
            &lt;img class="round-image" src="../../assets/----image---.jpg" alt="rounded image"&gt;
        </pre>

        <hr />

        <h2 class="heading">Responsive Image</h2>

        <div class="image-container">
           <img class="responsive-image" src="../../assets/pexels-luis-del-río-15286.jpg" alt="rounded image">
        </div>

        <pre class="code-snippet">
            &lt;img class="responsive-image" src="../../assets/pexels-luis-del-río-15286.jpg" alt="rounded image"&gt;  
        </pre>

        
    </main>
  </body>
</html>
