<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert</title>
    <link rel="stylesheet" href="./alert.css" />
  </head>
  <body>
    <main class="container">
      <div class="leftNav">
        <div class="content-header">
          <h2 class="heading-main">Alert</h2>
        </div>
        <div class="content-description">
          <p>
            Alert messages can be used to notify the user about something
            special like danger, success, information or warning.
          </p>
        </div>
      </div>

      <div class="content">
        <h2 class="heading">Simple Alert Message</h2>

        <p>
          Add <span>.alert simple-alert</span> class to make it a simple alert.
        </p>

        <div class="alert simple-alert">
          <h3>Simple Alert Message</h3>
          <a class="close">&times;</a>
        </div>

        <pre class="code-snippet">
            &lt;div class="alert simple-alert"&gt;
             &lt;h3>Simple Alert Message &lt;/h3&gt;
              &lt;a class="close">&times;&lt;/a&gt;
            &lt;/div&gt;
        </pre>

        <hr />

        <h2 class="heading">Success Alert Message</h2>

        <p>
          Add <span>.alert success-alert</span> class to make it a success
          alert.
        </p>

        <div class="alert success-alert">
          <h3>Success Alert Message</h3>
          <a class="close">&times;</a>
        </div>

        <pre class="code-snippet">
            &lt;div class="alert success-alert"&gt;
             &lt;h3>Success Alert Message &lt;/h3&gt;
              &lt;a class="close">&times;&lt;/a&gt;
            &lt;/div&gt;
        </pre>

        <hr />

        <h2 class="heading">Danger alert Message</h2>
        <p>
          Add <span>.alert danger-alert</span> class to make it a danger alert.
        </p>

        <div class="alert danger-alert">
          <h3>Danger Alert Message</h3>
          <a class="close">&times;</a>
        </div>

        <pre class="code-snippet">
            &lt;div class="alert danger-alert"&gt;
             &lt;h3>Danger Alert Message &lt;/h3&gt;
              &lt;a class="close">&times;&lt;/a&gt;
            &lt;/div&gt;
        </pre>

        <hr />

        <h2 class="heading">Warning Alert Message</h2>
        <p>
          Add <span>.alert warning-alert</span> class to make it a warning
          alert.
        </p>

        <div class="alert warning-alert">
          <h3>Warning Alert Message</h3>
          <a class="close">&times;</a>
        </div>

        <pre class="code-snippet">
            &lt;div class="alert warning-alert"&gt;
             &lt;h3>Warning Alert Message &lt;/h3&gt;
              &lt;a class="close">&times;&lt;/a&gt;
            &lt;/div&gt;
        </pre>
      </div>
    </main>
  </body>
</html>
